.navbar {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D7DADC;
  padding: 0 50px;
  background-color: #000000;
  z-index: 10;
}

.navTitle {
  display: flex;
  align-items: center;
}

.navTitle h3 {
  padding-left: 5px;
  color: #E8C547;
}

.navTitle h3 span {
  color: #5C80BC;
}