.asideContainer {
  background-color: #343434;
  width: 350px;
  height: 87vh;
  margin: 0 20px 0 50px;
  border: 1px solid #D7DADC;
  border-radius: 10px;
  position: fixed;
  top: 90px;
  box-sizing: border-box;
  padding-bottom: 30px;
}
  
h1 {
  color: #D7DADC;
  font-size: 1.75rem;
  text-align: center;
  margin: 40px 40px;
}