.resultsContainer {
  width: 50%;
  box-sizing: border-box;
  position: absolute;
  margin-top: 488px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.postUl {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loading {
  color: #D7DADC;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding-top: 20px;
}